@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');


.gpt-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gpt-header {
    text-align: center;
    margin-top: 400px;
    font-family: 'Noto Serif Display', serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}

.gpt-text {
    position: absolute;
    margin-bottom: 400px;
}

.gpt-paragraph {
    font-family: 'Noto Serif Display', serif;
    max-width: 800px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.8;
    color: black;
    text-align: center;
    padding: 15px;
    margin-bottom: 400px;
}


.gpt-prompt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 50%;
    margin-bottom: 400px;
}

.gpt-prompt {
    flex: 1;
}

.gpt-submit {
    background-color: whitesmoke !important;
    height: 54px;
    color: black !important;
}